<div class={{type}} id="types">
    <div class="form-check">
        <form class={{company_id}} id="skillform">
            <fieldset>
                <p>Please Select Skillsets: </p>
                {{#each skills as |skills|}}
                <input type="checkbox" id="skill{{@index}}" value="{{skills.id}}">{{skills.name}}<br>
                {{/each}}
                <br>
                {{!-- <input type="button" id="submitbutton" value="Submit now" /> --}}
            </fieldset>
        </form>
    </div>
</div>