<div class="d-flex flex-wrap user" style="margin: 20px;">
    {{#each matchingSkillUsers as |matchingSkillUsers|}}

    <div class="card" style="width: 18rem; margin: 10px">

        {{#if matchingSkillUsers.job_id}}
        <div class="card-header">
            <h2 class="card-title">{{matchingSkillUsers.job.company.company_name}}</h2>
            <h6 class="card-subtitle mb-2 text-muted">Company</h6>
        </div>

        <div class="card-body">
            <div class="card-text">
                Job ID: {{matchingSkillUsers.job_id}} <br>
                Job Title: {{matchingSkillUsers.job.title}} <br>
                Job Description: {{matchingSkillUsers.job.description}}<br>
                Skills: <br>
                {{#each matchingSkillUsers.job.skills as |skillmatch|}}
                <li> {{skillmatch.name}}<br> </li>
                {{/each}}

            </div>
        </div>
        {{/if}}

        {{#if matchingSkillUsers.user_id}}
        <div class="card-header">
            <h2 class="card-title">{{matchingSkillUsers.full_name}}</h2>
            <h6 class="card-subtitle mb-2 text-muted">Seeker</h6>
        </div>

        <div class="card-body">
            <div class="card-text">
                {{matchingSkillUsers.image}}
                User ID: {{matchingSkillUsers.user_id}} <br>
                User email: {{matchingSkillUsers.user.email}} <br>
                <div class="card-profilebody">
                    Profile: {{matchingSkillUsers.user.description}}<br>
                </div>
               
                Skills: <br>
                {{#each matchingSkillUsers.user.skills as |skillmatch|}}
                <li> {{skillmatch.name}} </li>
                {{/each}}
           

        </div>

    </div>
    {{/if}}

</div>
{{/each}}