<<<<<<< HEAD
{{!-- <h2>If you're a company, you come here to create jobs and edit your account</h2>
=======
{{#if companyId}}
<div class="d-flex" style="margin: 20px;">
    <div class="display-jobs split left" style="margin: 20px; size: 40%;">
        <div class="card" style="margin: 10px;">
        <h2 class="card-header" >Your Jobs:</h2>
>>>>>>> ba8cfa51c328506018355e05f1dd26c6ead224de

        <!-- Trigger/Open The Modal -->
        <button id="myBtn" class="btn btn-primary">Create a job</button>

<<<<<<< HEAD
<h2>For either of them, there's going to be a tab that shows the interviews confirmed so far</h2>

<h2>Candidates you're interested in:</h2> --}}
{{#if company}}    
<ul class="nav nav-tabs nav-fill mt-3">
  <li class="nav-item">
    <a id="employer-btn" class="nav-link active" href="#">Candidates you're iterested in:</a>
  </li>
  <li class="nav-item">
    <a id="candidate-btn" class="nav-link" href="#">Candidates interested in you:</a>
  </li>
  <li class="nav-item">
    <a id="interview-btn" class="nav-link" href="#">Confirmed interviews:</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Candidates matches (by Skills)</a>
  </li>
</ul>

<div id="employer-interest">
{{{format_interests_employer interests "employer"}}}
</div>

<div id="candidate-interest">
{{{format_interests_employer interests "seeker"}}}
</div>

<div id="interviews">
{{{format_interests_employer interests "interview"}}}
</div>
{{/if}}


{{#if seeker}}    
<ul class="nav nav-tabs nav-fill mt-3">
  <li class="nav-item">
    <a id="employer-btn" class="nav-link active" href="#">Jobs you're iterested in:</a>
  </li>
  <li class="nav-item">
    <a id="candidate-btn" class="nav-link" href="#">Jobs offered to you:</a>
  </li>
  <li class="nav-item">
    <a id="interview-btn" class="nav-link" href="#">Confirmed interviews:</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Job matches (by Skills)</a>
  </li>
</ul>

<div id="employer-interest">
{{{format_interests_seeker interests "employer" }}}
</div>

<div id="candidate-interest">
{{{format_interests_seeker interests "seeker" }}}
</div>

<div id="interviews">
{{{format_interests_seeker interests "interview" }}}
</div>
{{/if}}

<script src="/javascript/interests.js"></script>
=======
        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <form class="post-form">
                    <input type="hidden" id="UserID" name="userID" value="{{companyId}}">

                    <div>
                        <label for="job-title">Job Title</label>
                        <input type="text" id="job-title"/>
                    </div>
                    <div>
                        <label for="job-description">job-description</label>
                        <input type="text" id="job-description"/>
                    </div>
                    <div>
                        <p>Skills(placeholder)</p>
                        <textarea></textarea>
                    </div>
                    <button id="post-job" type="submit" class="btn btn-primary">Submit Job</button>
                </form>
            </div>

        </div>

        <script>// Get the modal
            var modal = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>




        </div>
        {{#each jobs as |job|}}
        <div class="card" style="margin: 10px;">
            <div class="card-header">
                <h3>{{job.title}}</h3>
                
            </div>
            <div class="card-body">
                <p>
                    {{job.description}}
                </p>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="confirmed-interviews split right">
{{!-- partial marco is making --}}
    </div>
</div>

<script src="./javascript/post-job.js"></script>
{{/if}}
>>>>>>> ba8cfa51c328506018355e05f1dd26c6ead224de
