<div class="d-flex justify-content-center">
<div class="card width600  mt-5">
    <div class="card-header">
        <h4 >Current title</h4>
        <h5 class="text-muted">{{job.title}}</h5>
        <h4>Current description</h4>
        <h5 class="text-muted">{{job.description}}</h5>
        <input type="hidden" id="jobID" name="jobID" value="{{job.id}}">
    </div>
    <div class="card-body">
        


        <div>
            <h5>Update General Information</h5>
            <label for="title">New title:</label><br>
            <input type="text" id="title" value="{{job.title}}"/>
        </div>
        <div>
            <label for="description">New description:</label><br>
            <input type="text" id="description" value="{{job.description}}"/>
        </div>

        <button class="btn btn-primary mt-2 mb-4" id="Job-name-edit">Update</button>

       
        
         {{> editskill}}


       
    </div> 
</div>
</div>

<script src="/javascript/edit-post.js"></script>